In [1]:
import pandas

In [3]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [36]:
data[:3]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [16]:
sex_counts = data['Sex'].value_counts()
print('{} {}'.format(sex_counts['male'], sex_counts['female']))

577 314

In [54]:
survived = data['Survived'].value_counts(normalize=True)[1]
survived_p = 100 * survived
print('{:0.2f}'.format(survived_p))

38.38

In [56]:
pclass = data['Pclass'].value_counts(normalize=True)[1]
pclass_p = 100 * pclass
print('{:0.2f}'.format(pclass_p))

24.24

In [68]:
ages = data['Age'].dropna()
print('{:0.2f} {:0.2f}'.format(ages.mean(), ages.median()))

29.70 28.00

In [78]:
correlation = data['SibSp'].corr(data['Parch'])
print('{:0.2f}'.format(correlation))

0.41